# YOUTUBE_API_KEY: Required for YouTube Data API v3 calls.
YOUTUBE_API_KEY=

# NEXT_PUBLIC_SUPABASE_URL: The URL of your Supabase project
NEXT_PUBLIC_SUPABASE_URL=

# NEXT_PUBLIC_SUPABASE_ANON_KEY: The anon/public key of your Supabase project (or service role key if skipping RLS)
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY: The service-role key for backend updates
NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY=

